.c-masthead__headline {
    color:          inherit;
    font-family:    'Futura PT W01 Book';
    line-height:    1rem;
    padding:        135px 30px 0;
    text-align:     center;
    text-transform: uppercase;
    width:          100%;
}
* {
    -webkit-font-smoothing:   antialiased;
    text-shadow:              1px 1px 1px rgba(0,0,0,0.004);
    -webkit-text-size-adjust: 100%;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}

.c-masthead__subtitle {
    color: inherit;
    display: inline-block;
    font-size: 25px;
    line-height: .8;
    margin-bottom: 24px;
    margin-top: 0;
}
* {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -webkit-text-size-adjust: 100%;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}

.c-masthead__subtitle__title {
    display: inline-block;
    font-family: 'Futura PT W01 Demi';
    font-size: 42px;
    line-height: .9;
    margin-top: 12px;
}
* {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -webkit-text-size-adjust: 100%;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}
.bg-color-arm-yellow {
    background-color: #ffc700 !important;
}
.c-masthead__hr {
    display: none;
    margin: 30px 0 15px;
}
* {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -webkit-text-size-adjust: 100%;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}

.c-masthead__description, .c-masthead__description p {
    color: inherit;
    font-family: 'Futura PT W01 Light';
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1;
    margin: 0 0 30px;
}
* {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -webkit-text-size-adjust: 100%;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}

button:visited, #search.CoveoSearchInterface .CoveoSearchbox .CoveoSearchButton:visited, .CoveoSearchInterface .CoveoSearchbox .CoveoSearchButton:visited, .c-button.c-button--cta:visited, .c-button.c-button--default:visited, .c-button.c-button--outline:visited, .c-button.c-button--filter:visited, .c-button.c-button--hero:visited, .c-rte-cta-button:visited {
    border-color: #ffc700;
    border-style: solid;
    border-width: 3px;
    color: #333e48;
}
.c-masthead .c-button {
    margin: 0;
}
.c-button.c-button--cta, .c-rte-cta-button {
    border-radius: 40px;
}
button, #search.CoveoSearchInterface .CoveoSearchbox .CoveoSearchButton, .CoveoSearchInterface .CoveoSearchbox .CoveoSearchButton, .c-button.c-button--cta, .c-button.c-button--default, .c-button.c-button--outline, .c-button.c-button--filter, .c-button.c-button--hero, .c-rte-cta-button, .c-rte-cta-button:visited {
    padding: 10px 50px;
}
button, #search.CoveoSearchInterface .CoveoSearchbox .CoveoSearchButton, .CoveoSearchInterface .CoveoSearchbox .CoveoSearchButton, .c-button.c-button--cta, .c-button.c-button--default, .c-button.c-button--outline, .c-button.c-button--filter, .c-button.c-button--hero, .c-rte-cta-button, .c-rte-cta-button:visited {
    background-color: #ffc700;
    border-color: #ffc700;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    color: #333e48;
    padding: 0 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    height: 44px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 0;
    margin: 15px 0;
    overflow: hidden;
    text-transform: none;
    webkit-transition: none;
    -o-transition: none;
    transition: none;
    white-space: nowrap;
    width: auto;
}
a:visited {
    border-bottom-color: #002f6c;
    color: #002f6c;
}
.c-button {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-style: solid;
    cursor: pointer;
    display: inline-block;
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 300;
    height: 44px;
    line-height: 1;
    overflow: hidden;
    padding: 0 50px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    -webkit-transition: none;
    transition: none;
    white-space: nowrap;
    width: auto;
    z-index: 2;
    border-radius: 5px;
    border-width: 2px;
}
#c-d2314fc9-4d50-44da-bd33-6cade089246a {
    background-image: url(/image/arm-homepage-hero-ai-1920x706.jpg);
}
.orbit-container .orbit-slides-container>*:first-child {
    margin-left: 0;
}
.c-masthead__item.is-inverted {
    color: #fff;
}

.c-site-logo__image {
    width: auto;
}
img {
    border: 0;
}
* {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
img[Attributes Style] {
    height: 40px;
}

a:visited {
    border-bottom-color: #002f6c;
    color: #002f6c;
}
.c-site-logo__link {
    border-bottom: 0;
    display: inline-block;
    height: inherit;
    margin: inherit;
    padding: inherit;
    width: inherit;
}
a {
    border-bottom-color: #11809f;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    color: #11809f;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
}
a {
    background-color: transparent;
}

.row {
    height: inherit;
}
.row {
    margin: 0 auto;
    max-width: 60rem;
    width: 100%;
}
.u-text-center {
    text-align: center !important;
}
.c-full-width-text-subcontent {
    background-position: center center;
    background-repeat: no-repeat;
    color: #333e48;
    margin: 0 0 45px;
    padding-bottom: 45px;
    padding-top: 90px;
}
.row:before, .row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}
body, p {
    color: #333e48;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

.column {
    height: inherit;
}
.column, .columns {
    position: relative;
    padding-left: .9375rem;
    padding-right: .9375rem;
    float: left;
}
.column, .columns {
    position: relative;
    padding-left: .9375rem;
    padding-right: .9375rem;
    width: 100%;
    float: left;
}
.u-text-center {
    text-align: center !important;
}
.c-full-width-text-subcontent {
    background-position: center center;
    background-repeat: no-repeat;
    color: #333e48;
    margin: 0 0 45px;
    padding-bottom: 45px;
    padding-top: 90px;
}
.u-text-center {
    text-align: center!important;
}
.c-content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}
.c-site-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    min-height: 100%;
    width: 100%;
}

.c-full-width-text-subcontent .c-full-width-text-subcontent__primary {
    font-weight: 700;
}
.c-full-width-text-subcontent .c-feature-open-border-card__title, .c-full-width-text-subcontent .c-feature-open-border-card__description, .c-full-width-text-subcontent .c-feature-open-border-card__description p, .c-feature-open-border-card__description .c-full-width-text-subcontent p, .c-full-width-text-subcontent .c-full-width-rich-text__feature-heading, .c-full-width-text-subcontent .c-full-width-rich-text__primary-heading, .c-full-width-text-subcontent .c-full-width-rich-text__primary-heading-for-columns, .c-full-width-text-subcontent .c-full-width-rich-text__secondary-heading, .c-full-width-text-subcontent .c-full-width-rich-text__secondary-heading-for-columns, .c-full-width-text-subcontent .c-full-width-rich-text__text, .c-full-width-text-subcontent .c-full-width-rich-text__text ol, .c-full-width-rich-text__text .c-full-width-text-subcontent ol, .c-full-width-text-subcontent .c-full-width-rich-text__text ul, .c-full-width-rich-text__text .c-full-width-text-subcontent ul, .c-full-width-text-subcontent .c-full-width-rich-text__text p, .c-full-width-rich-text__text .c-full-width-text-subcontent p, .c-full-width-text-subcontent .c-full-width-text-subcontent__feature, .c-full-width-text-subcontent .c-full-width-text-subcontent__primary, .c-full-width-text-subcontent .c-full-width-text-subcontent__secondary, .c-full-width-text-subcontent .c-full-width-text-subcontent__description, .c-full-width-text-subcontent .c-full-width-text-subcontent__description ol, .c-full-width-text-subcontent__description .c-full-width-text-subcontent ol, .c-full-width-text-subcontent .c-full-width-text-subcontent__description ul, .c-full-width-text-subcontent__description .c-full-width-text-subcontent ul, .c-full-width-text-subcontent .c-full-width-text-subcontent__description p, .c-full-width-text-subcontent__description .c-full-width-text-subcontent p, .c-full-width-text-subcontent .c-full-width-two-col-text-img__content__fields__feature, .c-full-width-text-subcontent .c-full-width-two-col-text-img__content__fields__primary, .c-full-width-text-subcontent .c-full-width-two-col-text-img__content__fields__secondary, .c-full-width-text-subcontent .c-full-width-two-col-text-img__content__fields__text, .c-full-width-text-subcontent .c-full-width-two-col-text-img__content__fields__text ol, .c-full-width-two-col-text-img__content__fields__text .c-full-width-text-subcontent ol, .c-full-width-text-subcontent .c-full-width-two-col-text-img__content__fields__text ul, .c-full-width-two-col-text-img__content__fields__text .c-full-width-text-subcontent ul, .c-full-width-text-subcontent .c-full-width-two-col-text-img__content__fields__text p, .c-full-width-two-col-text-img__content__fields__text .c-full-width-text-subcontent p, .c-full-width-text-subcontent .c-full-width-two-col-text-video__fields__feature, .c-full-width-text-subcontent .c-full-width-two-col-text-video__fields__primary, .c-full-width-text-subcontent .c-full-width-two-col-text-video__fields__text, .c-full-width-text-subcontent .c-full-width-two-col-text-video__fields__text p, .c-full-width-two-col-text-video__fields__text .c-full-width-text-subcontent p {
    color: inherit;
}
.c-full-width-text-subcontent__primary {
    font-size: 48px;
    line-height: 1.25;
    margin: 0 0 30px;
}
.u-text-center {
    text-align: center !important;
}
.c-full-width-text-subcontent {
    background-position: center center;
    background-repeat: no-repeat;
    color: #333e48;
    margin: 0 0 45px;
    padding-bottom: 45px;
    padding-top: 90px;
}
.u-text-center {
    text-align: center!important;
}
.c-content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}
.c-site-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    min-height: 100%;
    width: 100%;
}

.c-full-width-text-subcontent .c-feature-open-border-card__title, .c-full-width-text-subcontent .c-feature-open-border-card__description, .c-full-width-text-subcontent .c-feature-open-border-card__description p, .c-feature-open-border-card__description .c-full-width-text-subcontent p, .c-full-width-text-subcontent .c-full-width-rich-text__feature-heading, .c-full-width-text-subcontent .c-full-width-rich-text__primary-heading, .c-full-width-text-subcontent .c-full-width-rich-text__primary-heading-for-columns, .c-full-width-text-subcontent .c-full-width-rich-text__secondary-heading, .c-full-width-text-subcontent .c-full-width-rich-text__secondary-heading-for-columns, .c-full-width-text-subcontent .c-full-width-rich-text__text, .c-full-width-text-subcontent .c-full-width-rich-text__text ol, .c-full-width-rich-text__text .c-full-width-text-subcontent ol, .c-full-width-text-subcontent .c-full-width-rich-text__text ul, .c-full-width-rich-text__text .c-full-width-text-subcontent ul, .c-full-width-text-subcontent .c-full-width-rich-text__text p, .c-full-width-rich-text__text .c-full-width-text-subcontent p, .c-full-width-text-subcontent .c-full-width-text-subcontent__feature, .c-full-width-text-subcontent .c-full-width-text-subcontent__primary, .c-full-width-text-subcontent .c-full-width-text-subcontent__secondary, .c-full-width-text-subcontent .c-full-width-text-subcontent__description, .c-full-width-text-subcontent .c-full-width-text-subcontent__description ol, .c-full-width-text-subcontent__description .c-full-width-text-subcontent ol, .c-full-width-text-subcontent .c-full-width-text-subcontent__description ul, .c-full-width-text-subcontent__description .c-full-width-text-subcontent ul, .c-full-width-text-subcontent .c-full-width-text-subcontent__description p, .c-full-width-text-subcontent__description .c-full-width-text-subcontent p, .c-full-width-text-subcontent .c-full-width-two-col-text-img__content__fields__feature, .c-full-width-text-subcontent .c-full-width-two-col-text-img__content__fields__primary, .c-full-width-text-subcontent .c-full-width-two-col-text-img__content__fields__secondary, .c-full-width-text-subcontent .c-full-width-two-col-text-img__content__fields__text, .c-full-width-text-subcontent .c-full-width-two-col-text-img__content__fields__text ol, .c-full-width-two-col-text-img__content__fields__text .c-full-width-text-subcontent ol, .c-full-width-text-subcontent .c-full-width-two-col-text-img__content__fields__text ul, .c-full-width-two-col-text-img__content__fields__text .c-full-width-text-subcontent ul, .c-full-width-text-subcontent .c-full-width-two-col-text-img__content__fields__text p, .c-full-width-two-col-text-img__content__fields__text .c-full-width-text-subcontent p, .c-full-width-text-subcontent .c-full-width-two-col-text-video__fields__feature, .c-full-width-text-subcontent .c-full-width-two-col-text-video__fields__primary, .c-full-width-text-subcontent .c-full-width-two-col-text-video__fields__text, .c-full-width-text-subcontent .c-full-width-two-col-text-video__fields__text p, .c-full-width-two-col-text-video__fields__text .c-full-width-text-subcontent p {
    color: inherit;
}
.c-full-width-text-subcontent__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.65;
    margin-bottom: 30px;
}
* {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}
.u-text-center {
    text-align: center !important;
}
.c-full-width-text-subcontent {
    background-position: center center;
    background-repeat: no-repeat;
    color: #333e48;
    margin: 0 0 45px;
    padding-bottom: 45px;
    padding-top: 90px;
}
.u-text-center {
    text-align: center!important;
}
.c-content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}
.c-site-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    min-height: 100%;
    width: 100%;
}

.c-full-width-text-subcontent__placeholder {
    margin: 0 0 30px;
}
* {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}
.u-text-center {
    text-align: center !important;
}
.c-full-width-text-subcontent {
    background-position: center center;
    background-repeat: no-repeat;
    color: #333e48;
    margin: 0 0 45px;
    padding-bottom: 45px;
    padding-top: 90px;
}
.u-text-center {
    text-align: center!important;
}
.c-content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}
.c-site-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    min-height: 100%;
    width: 100%;
}

.c-grid {
    width: 100%;
}
